@charset 'UTF-8';

/* TechShop Ltd Website - Designed by Founder; Randall Paiva - Software Manager */



header, section, footer, aside, nav, main, article, figure {
    display: block;
}

/* start - Site Page Loader */

	.loader{
		border: 16px solid #f3f3f3; /* Light grey */
		border-top: 16px solid #3498db; /* blue */
		border-right: 16px solid green;
		border-bottom: 16px solid red;
		border-left: 16px solid yellow;
		border-radius: 50%;
		width:120px;
		height:120px;
		animation:spin 2s linear infinite;
	}
	
	@-webkit-keyframes spin {
		0%{ transform: rotate(0deg); }
		25% {transform: rotate(90deg); }
		50% {transform: rotate (180deg); }
		75% {transform: rotate (270deg); }
		100% { transform: rotate(360deg); }
	}
	
	@keyframes spin {
		0%{ transform: rotate(0deg); }
		25% {transform: rotate(90deg); }
		50% {transform: rotate (180deg); }
		75% {transform: rotate (270deg); }
		100% { transform: rotate(360deg); }
	}
	
	/* Add animation to "page content" */
	
		.animate-bottom	{
			position:relative;
			-webkit-animation-name:animatebottom;
			-webkit-adnimation-duration:1s;
			animation-name:animatebottom;
			animation-duration:1s;
		}
		
		@-webkit-keyframes animatebottom{
			from { bottom:-100px; opacity:0}
			to { bottom:0px; opacity:1}
		}
		
		@keyframes animatebottom {
			from{ bottom:-100px; opacity:0}
			to {bottom:0; opacity:1}
		}
		
		#myDiv{
			display: none;
			text-align:center;
		}

/* End - Site Page Loader */

body{		

	padding:0px;
	margin:0px;
	background-color:#ccc;

}

/* Card Format Starts */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
	padding:2px;
}

.card.title {
    color: grey;
    font-size: 18px;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card button:hover, a:hover {
    opacity: 0.7;
}
/* Card Format Ends */


/* Nav link bar starts*/

.navbar-nav{
	
	float:center;
	text-align:center;
	
}

li.nav-item a{
	
	padding:6px;
	margin-left:10px;
	text-decoration:none;
	border-radius:5px;
	
}

/* Ends link bar */



/* Start: Link Hover Styles */

	li.nav-item a:hover{
		
		border-color:red ;
		border-width:1px dashed;
		
	}
	li.nav-item a:active{
		
		background-color:#ccc;
		border-color:lime 1px dashed;
	}
	

/* End: Link Hover Styles */


/* Nav link bar ends */

.header{
	
	padding:10px;
	margin:0px;
	margin-top:0px;
	border-radius:15px;
	
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	
}
.logo{
	width:60px;
	height:60px;
}

/* Colors for headings */

	.red{
		
		background-color:#ff0000;
		width:auto;
		height:auto;
	}
	.orange{
		
		color:orange;
	}
	.yellow{
		
		color:yellow;
	}


	
/* Links & Rollovers */

	a:hover{
	
	text-decoration:no-underline;
	
	}
	a:active{
	
	text-decoration:no-underline;
	
	}
	a:link{
		
	text-decoration:no-underline;	
		
	}



/* Links & Rollovers Ends */

#myDIV {
    width: 100%;
    height: 250px;
    background: red;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}


/* Added from Side Navbar */




	/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
	
/* Add Colors */

	.indigo{
		background-color:#4B0082;
		width:80%;
		height:80%;
	}
	.red{
		background-color:#CCCCCC;
		width:auto; height:auto;
		padding:50px;
	}

/* End of Add Colors */

/* Snippets Starts */

	.sm-box{
		margin:auto;
		background-color:#ccc;
		padding:auto;
		height:300px;
		width:300px;
		border-left-color:#ff0000 1px;
		
	}

/* Snippet Bar Ends */



.footer{
		
	color:#000000;
	text-align:center;
	
}
